.collection-controller__container {
  display: block;
  position: fixed;
  top: 10px;
  left: 10px;
  z-index: 1001;
  background-color: white;
  border-radius: 0.15em;
  box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.2);
  max-width: 75%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  padding: 0 10px;
}

.collection-controller__editing-label {
  font-size: 1.2em;
}

.collection-controller_toolbar {
  display: flex;
  flex-direction: row;
  column-gap: 10px;
  align-items: center;
  height: 40px;
}

.collection-controller_toolbar > .collection-controller_toolbar-button {
  display: grid;
  place-content: center;
  background-color: white;
  width: 30px;
  height: 30px;
  border-radius: 0.15em;
  box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.2);
}

.collection-controller_toolbar > .collection-controller_toolbar-button:hover {
  background-color: lightgray;
}
