.toolbar-button {
  display: grid;
  place-content: center;
  width: 30px;
  height: 30px;
}

.toolbar-button:hover {
  background-color: lightgrey;
}

@media screen and (max-width: 600px) {
  .toolbar-button {
    width: 45px;
    height: 45px;
    font-size: 1.2rem;
  }
}
